# snakemake
Figures/scalability_benchmark/._plger_metrics.tar
Figures/scalability_benchmark/.snakemake/
Figures/scalability_benchmark/cp_to_Euler.sh
Figures/scalability_benchmark/plger_metrics.sif
Figures/scalability_benchmark/plger_metrics.tar
Figures/scalability_benchmark/snakemake_logs_05.06.2025
# unwanted/large data
.DS_Store
._.DS_Store
data/.DS_Store
data/._.DS_Store
data/spatial_real_data/.DS_Store
data/spatial_real_data/._.DS_Store
data/spatial_real_data/._visium_hd_cancer_colon_neo
data/spatial_real_data/._visium_hd_cancer_colon_square_016um_small
data/spatial_real_data/._visium_hd_cancer_colon_square_016um_small.zip
data/spatial_real_data/visium_hd_cancer_colon_neo/
data/spatial_real_data/visium_hd_cancer_colon_neo_all_results.tsv
data/spatial_real_data/visium_hd_cancer_colon_square_016um_small.zip
# local experiments
./Figures/partition_properties/old_ncr.R
./Figures/spatial_toy_examples/._spatial_toy_examples_fuzzy.ipynb
./Figures/spatial_toy_examples/._spatial_toy_examples_test.ipynb
./Figures/spatial_toy_examples/spatial_toy_examples_test.ipynb
./Figures/spatial_toy_examples/toys.qmd
# Code to collect data from previous benchmark
**/*.RDS
AV_AW_tradeoff/collect_results.R
./partition_real_life_examples/collect_results.R
**/*_sobj_SNN.RDS
PWC/test.RDS
# Produced figures
Figures/**/*.pdf
Figures/**/*.svg

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Figures/partition_properties/old_ncr.R
Figures/spatial_toy_examples/spatial_toy_examples_test.ipynb
Figures/spatial_toy_examples/._spatial_toy_examples_test.ipynb
Figures/spatial_toy_examples/._spatial_toy_examples_fuzzy.ipynb
Figures/spatial_toy_examples/toys.qmd
Figures/.DS_Store
data/AWC_AWH_tradeoff/collect_results.R
data/partition_real_life_examples/collect_results.R
data/PWC/get_umap.R
Figures/spatial_toy_examples/spatial_toy_examples_fuzzy.ipynb
